---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="{{ site.author.googlescholar }}" target="_blank">Google Scholar</a>.</div>
{% endif %}


<!-- Example for grouping publications by category -->
<!-- Example for grouping publications by category -->
{% assign categories = "Preprint, Accepted/Published" | split: ", " %}
{% for category in categories %}
  <h2>{{ category }}</h2>
  <ul>
    {% assign sorted_posts = site.publications | sort: "date" | reverse %}
    {% for post in sorted_posts %}
      {% if post.category == category %}
        <li>
          {{ post.authors }}. <strong>"{{ post.title }}"</strong>. 
          {% if post.venue %}<em>{{ post.venue }}</em>, {% endif %}
          {% if post.date %}{{ post.date | date: "%Y" }}.{% endif %}
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" target="_blank">[arXiv]</a>
          {% endif %}
          {% if post.githuburl %}
            <a href="{{ post.githuburl }}" target="_blank">[GitHub]</a>
          {% endif %}
          <p>{{ post.content | markdownify }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}


(* : equal contribution)
