---
layout: archive
permalink: /teaching/
author_profile: true
---

{% include base_path %}



<!-- Group by Category -->
{% assign categories = "Teaching Assistant at University of Toronto" | split: ", " %}
{% for category in categories %}
  <h2>As {{ category }}</h2>
  <ul>
    {% for post in site.teaching reversed %}
      {% if post.category == category %}
        <li>
          <strong>{{ post.title }}</strong> ({{ post.semester }})
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
