---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign categories = "Instructor at the University of Toronto|Teaching Assistant at the University of Toronto|Teaching Assistant at Harvard University" | split: "|" %}

{% for category in categories %}
  {% assign courses = site.teaching | where: "category", category %}
  {% if courses.size > 0 %}
    <h2>{{ category }}</h2>
    <ul>
      {% for course in courses reversed %}
        <li>
          <strong>{{ course.title | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
          <span>&mdash; {{ course.semester }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
